<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="msDeployEndPoint" value="https://mywebsite.com:8712/msdeploy.axd"/>
    <add key="msDeployIISWebsite" value="website.com"/>
    <add key="msDeployUsername" value="deploymentUser"/>
    <add key="msDeployPassword" value="deploymentPassword"/> 
  </appSettings>
</configuration>